<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the homepage</title>
</head>
<style>
    a{
        color: black;
        text-decoration: none;
        margin: 5px;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
</style>
<body>
    <a href="about.html">ABOUT</a>
    <a href="product/detail.html">PRODUCT</a>
    <a href="product/product_create.html">CREATE</a>
    <h1>hello world!</h1>
    <p>THIS IS THE NEW DJANGO PROJECT....YOUR ALL WELCOME!!</p>
    
</body>
</html>